<p>
  <strong>Name:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>Posted <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago
</p>

<p>
	<%= link_to 'Delete Comment', [comment.article, comment], 
	method: :delete, data: {confirm: 'Are you sure?'} %>
</p>