body{
    margin:0;
    height:100%;
    display:block;
    font-family:arial, sans-serif;
    font-size:small;
    background:#fff;
}

a{text-decoration:none; color:#000;}
a:hover{text-decoration:underline;}

.navbar{
    position:absolute;
    top:10px;
    right:30px;
    width:100%;
    text-align:right;
    display:inline-block;
    line-height:40px;
    height: 40px;
    color:#000;
}

.navbar a{
    padding-right:12px; 
    opacity:.65;
}

.navbar button{
    position:relative;
    height:30px;
    display:inline-block;
    border:1px solid #4285f4;
    border-radius:2px;
    background: #4285f4;
    font-weight: bold;
    font-size: 13px;
    text-align:center;
    line-height:27px;
    color: #fff;
    padding:0 8px;
    font-family:sans-serif;
}   
 
.app-launcher{
   position:relative; 
   display: inline-block;
   top:6px;
   background-image: url("app-launcher.png");
   background-repeat: no-repeat;
   width:25px;
   height:25px;
}    
.search{
    margin-top:200px;
    text-align:center;
    width:100%;
}

.search input{
    position: relative;
    margin: 26px auto;
    padding:0;
    height:40px;
    width:485px;
    border-color: #D9D9D9;
    border-style:solid;
    border-width: 1px;
    font: 16px arial, sans-serif;
    line-height:28px;
}

.search button{
    position: relative;
    display: inline-block;
    height:36px;
    line-height:28px;
    background:#f5f5f5;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 8px 2px;
    padding: 0 16px;
}

.footer{
    position:absolute; 
    bottom: 0;
    width:100%;
    background:#f2f2f2;
    border-top: 1px solid #E4E4E4;
    height:40px;
    font-size:10pt;
}
    
.footer a{
    color:#777;
}

.l-foot{
    position:absolute;
    bottom:12px;
    left:30px;
    padding-right:27px;
}

.r-foot{
    position:absolute;
    bottom:12px;
    right:30px;
    padding-left:27px;
}

.l-foot a{padding-right:27px;}
.r-foot a{padding-left:27px;}
