<html>
  <head></head>
  <body>
  <br>
    <p>
      <%= 'Please enter text to encode and an encryption cipher:' %>
    </p>
    <form>
      <input type='text' name='plaintext' />
      <input type='text' name='cipher' style='width:50px' />
      <input type='submit' value='Encode' />
    </form>
    <p>
      <%= ciphertext %>
    </p>
  </body>
</html>