<html>
  <head></head>
  <body>
    <p>
      <%= 'Please enter text to encode and an encryption index:' %>
    </p>
    <form>
      <input type='text' name='plaintext' />
      <input type='text' name='index' style='width:50px' />
      <input type='submit' value='Encode' />
    </form>
    <p>
      <%= cipher %>
    </p>
  </body>
</html>